* {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}
body {
font-family: Gilroy-SemiBold;
padding-left: calc(50% - 660px);
padding-right: calc(50% - 660px);
}

.top {

}
.header {
    padding-top: 45px;
    padding-left: 50px;
    display: flex;
    justify-content: left;

}
.menu {
padding-top: 10px;
padding-left: 334px;
display: flex;
gap: 30px;
}
.menu a {
    font-family: Gilroy-SemiBold;
color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;}
a.selected {

    color: #F25822;
}
.top_content {
        padding-left: 50px;
            padding-bottom: 51px;
            display: flex;
}
.top_content_text {
    width: 590px;
    padding-top: 100px;

}
h1 {
font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.top_content_text p {
color: #888;
width: 466px;
padding-top: 15px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.top_content_buttons {
    padding-top: 37px;
    padding-bottom: 37px;
    display: flex;

    gap: 54px;
}
.top_content_buttons a{
    color: #AAA;
    padding: 15px 30px;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

}
.start_now {
    padding: 15px 30px;
    border-radius: 50px;
        background: #F25822;
        box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
}
.top_img {
    width: 544px;
}
.logos {
    padding-left: 50px;
    display: flex;
    gap: 30px;
}
.get_more {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-around;

}
.get_more_block {
    width: 370px;
    padding: 30px;

}
.get_more_block_selected {
    background: #FFF;
box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}
.get_more_img {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
}
p.get_more_bold {
    padding-top: 25px;
    padding-bottom: 17px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
p.get_more_text {
    padding-bottom: 25px;
    color: #666;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
a.get_more_a {
    color: #000;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.why_us {
    background: #FAFAFA;
    text-align: center;

}
p.why_us_bold {
    padding-top: 92px;
    padding-bottom: 19px;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.why_us_text{

    color: #666;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.why_us_blocks {
    padding-top: 54px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;

}
.why_us_block {
    width: 370px;
    background: #FFF;
    padding-bottom: 50px;
}
.why_us_block_selected {
    background: #FFF;
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}
.why_us_block_img {
    width: 370px;
}
.why_us_block_bold{
padding-bottom: 22px;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.why_us_block_text {
    color: #AAA;
    padding-bottom: 39px;
    text-align: center;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 22.5px */
}
a.why_us_block_a {
    color: #FFF;

text-align: center;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
padding: 15px 30px;
border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);

}